## imports

<%! from datetime import datetime %>
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">

    <head>


        <title><%block name="head_title">Intermountain Healthcare</%block></title>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

        <!-- Custom CSS -->
        <link href="${ STATIC_URL }homepage/styles/styles.css" rel="stylesheet">

        <!-- menu CSS -->
        <link href="${ STATIC_URL }homepage/styles/metisMenu.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="${ STATIC_URL }homepage/styles/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

        <!-- jQuery -->
        <script src="${ STATIC_URL }homepage/scripts/jquery.js"></script>

        <!-- menu js -->
        <script src="${ STATIC_URL }homepage/scripts/metisMenu.js"></script>

        <!-- table to csv js -->
        <script src="${ STATIC_URL }homepage/scripts/table_to_csv.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="${ STATIC_URL }homepage/styles/bootstrap/js/bootstrap.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="${ STATIC_URL }homepage/scripts/ihc.js"></script>

    </head>

    <body>

        <div id="wrapper">
<!--
                  <li class="${ 'active' if request.dmp_router_page == 'portfolio' else '' } nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/portfolio">Portfolio</a>
                  </li> -->

        <!-- DMW Navigation ASDAF'AFKL;GFSKDFL;GFMGL;'FGKMSL;'GKMFL;SGKS;'KSGFL;'KGS'L;GK'GL;KFSDGL;FDSKGLS;'KS'GKS';G -->

            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index">
                      <!-- <img src="${ STATIC_URL }homepage/media/logo.png"> -->Intermountain Healthcare
                    </a>
                </div>
                <!-- /.navbar-header -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                          <li class="${ 'active' if request.dmp_router_page == 'index' else '' }">
                            <a href="/index"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                          </li>
                          <li class="${ 'active' if request.dmp_router_page == 'data' else '' }">
                            <a href="/data"><i class="fa fa-table fa-fw"></i> Raw Data</a>
                          </li>


                            <li>
                                <a href="#"><i class="fa fa-windows fa-fw"></i> Azure<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                  <li>
                                      <a href="/makeprediction"><i class="fa fa-edit fa-fw"></i>Make Prediction</a>
                                  </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

        <main>
            <%block name="content">
                Site content goes here in sub-templates.
            </%block>

        </main>
      </div>
      <!-- /#wrapper -->


    ## render the JS with the same name as this page

    <!--${django_mako_plus.link_js(self)}-->

  </body>
</html>
