<%inherit file="base.htm" />

<%block name="content">
<script>
  $(document).ready(function(){
    $("#download_table").click(function(){
      //Pass a jQuery selector and the file name.
      //If there are multiple tables found, they will all be
      //downloaded as separate files.
      table_to_csv("#rawdata", "rawdata.csv");
    });
  });
</script>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Raw Data</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

          <!-- /.panel-heading -->
          <div class="panel-body">

            <!-- /.row -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-table fa-fw"></i> PCU Patient Data
                    <div class="pull-right">
                          <button id = "download_table" type="button" class="btn btn-default btn-xs" data-toggle="dropdown">
                              Download CSV
                          </button>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                  <div class="container-fluid">
                      <div class="col-lg-12">
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <div class="table-responsive">

                                            <table id="rawdata" class="table table-bordered table-hover table-striped">
                                             <tr style="font-weight: bold;">
                                              <td>Date</td>
                                              <td>Clarvia Hours</td>
                                              <td>RN Estimated Hours</td>
                                              <td>Diagnosis Difficulty Level</td>
                                              <td>Abnormal Labs (Yes or No)</td>
                                              <td>Caregiver Nurse Shift (Start-End)</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >3.62</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>Yes</td>
                                              <td>0901-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >5.65</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>Yes</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >2.54</td>
                                              <td >2</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>0600-1216</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >4.53</td>
                                              <td >4</td>
                                              <td >3</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >4.76</td>
                                              <td >3</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >3.69</td>
                                              <td >3</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0600-1330</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >5.27</td>
                                              <td >3</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >4.18</td>
                                              <td >3</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >4.92</td>
                                              <td >2.5</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >4.19</td>
                                              <td >3</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >5.15</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>Yes</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >2.5</td>
                                              <td >2</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>0600-1106</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >5.08</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>Yes</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >2.89</td>
                                              <td >2</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>0600-1217</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >6.29</td>
                                              <td >5</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >2.94</td>
                                              <td >2</td>
                                              <td >3</td>
                                              <td>No</td>
                                              <td>1300-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >4.68</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>Yes</td>
                                              <td>1800-0600</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >5.24</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>Yes</td>
                                              <td>1800-0600</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >4.3</td>
                                              <td >4</td>
                                              <td >3</td>
                                              <td>No</td>
                                              <td>1800-0600</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >4.37</td>
                                              <td >2</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>1800-0600</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >5.06</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>1800-0600</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >4.02</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>1800-0600</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >4</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>1800-0600</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >4.92</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>1800-0600</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >5.15</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>1800-0600</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >6.57</td>
                                              <td >6</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>1800-0600</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >6.02</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0800-0600</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >3.96</td>
                                              <td >3</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>1800-0600</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >4.46</td>
                                              <td >3</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>2109-0600</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >5.93</td>
                                              <td >5.5</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>1800-0600</td>
                                             </tr>
                                             <tr >
                                              <td >10/26/2017</td>
                                              <td >5.24</td>
                                              <td >5</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>1820-0600</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >4.92</td>
                                              <td >4</td>
                                              <td >1</td>
                                              <td>Yes</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >4.1</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >3.13</td>
                                              <td >5</td>
                                              <td >3</td>
                                              <td>No</td>
                                              <td>0600-1152</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >3.39</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0600-1400</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >2.06</td>
                                              <td >2</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>0600-1022</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >4.04</td>
                                              <td >3</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>0600-1736</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >4.59</td>
                                              <td >5</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0600-1600</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >3.41</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>Yes</td>
                                              <td>0600-1433</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >4.83</td>
                                              <td >3</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >3.55</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >5.08</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >4.68</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >5.49</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>Yes</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >6.29</td>
                                              <td >6</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >6.29</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >5.99</td>
                                              <td >5.5</td>
                                              <td >3</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >2.04</td>
                                              <td >2.5</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>1333-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/27/2017</td>
                                              <td >2.15</td>
                                              <td >3</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>1146-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/30/2017</td>
                                              <td >4.54</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0623-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/30/2017</td>
                                              <td >5.45</td>
                                              <td >3.5</td>
                                              <td >3</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/30/2017</td>
                                              <td >2.96</td>
                                              <td >1.5</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/30/2017</td>
                                              <td >2.35</td>
                                              <td >3</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>0600-1152</td>
                                             </tr>
                                             <tr >
                                              <td >10/30/2017</td>
                                              <td >3.57</td>
                                              <td >1.5</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/30/2017</td>
                                              <td >2.96</td>
                                              <td >2</td>
                                              <td >2</td>
                                              <td>Yes</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/30/2017</td>
                                              <td >6.19</td>
                                              <td >6</td>
                                              <td >3</td>
                                              <td>Yes</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/30/2017</td>
                                              <td >3.57</td>
                                              <td >3</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/30/2017</td>
                                              <td >5.09</td>
                                              <td >3</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/30/2017</td>
                                              <td >1.65</td>
                                              <td >5</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0600-0739</td>
                                             </tr>
                                             <tr >
                                              <td >10/30/2017</td>
                                              <td >4.15</td>
                                              <td >3</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/30/2017</td>
                                              <td >2.27</td>
                                              <td >2</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>1254-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/30/2017</td>
                                              <td >4.41</td>
                                              <td >3</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/30/2017</td>
                                              <td >5.35</td>
                                              <td >4</td>
                                              <td >2</td>
                                              <td>Yes</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/30/2017</td>
                                              <td >5.95</td>
                                              <td >3</td>
                                              <td >2</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>
                                             <tr >
                                              <td >10/30/2017</td>
                                              <td >4.3</td>
                                              <td >3</td>
                                              <td >1</td>
                                              <td>No</td>
                                              <td>0600-1800</td>
                                             </tr>

                                             <tr height=0 style='display:none'>
                                              <td width=77 style='width:57pt'></td>
                                              <td width=84 style='width:63pt'></td>
                                              <td width=124 style='width:93pt'></td>
                                              <td width=331 style='width:248pt'></td>
                                              <td width=163 style='width:122pt'></td>
                                              <td width=191 style='width:143pt'></td>
                                             </tr>
                                            </table>


                                          </div>
                                          <!-- /.table-responsive -->
                                      </div>
                                      <!-- /.col-lg-12 (nested) -->
                                      <div class="col-lg-8">
                                          <div id="morris-bar-chart"></div>
                                      </div>
                                      <!-- /.col-lg-12 (nested) -->
                                  </div>
                                  <!-- /.row -->
                </div>
                      </div>
                </div>
                <!-- /.panel-body -->
            </div>

                <!-- /.col-lg-12 -->

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->



</%block>
