<%inherit file="base.htm" />

<%block name="content">


        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">${message}</h1>
                        <div class="content">
                          <p class="text-muted">

                            The following application receives the input from the following form fields to create a
                            prediction for how long a task will take based on the an algorithm developed in Microsoft Azure ML studio
                            (using the PCU patient data).

                          </p>
                          <div class="row">

                              <div class="col-lg-6">

                                <div class = 'form'>
                                ${form}
                                </div>
                                <br><br><br><br><br><br>

                              </div>
                          </div><br><br><br><br><br><br><br><br><br><br><br>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

  </%block>
