<%inherit file="base.htm" />

<%block name="content">

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>Tableau Dashboard

                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          <script type="text/javascript" src="http://public.tableau.com/javascripts/api/tableau-2.0.0.min.js"></script>
                          <script type="text/javascript">
                            var workbook, viz, activeSheet;
                            function initViz() {
                              var containerDiv = document.getElementById("tableauViz"),
                              url = "https://public.tableau.com/views/IHC-NurseAcuity/ClarviaDashboard?:embed=y&:display_count=yes";
                               var options = {
                                  width: "100%",
                                  height: 800,
                                  hideTabs: true,
                                  hideToolbar: true,
                                  onFirstInteractive: function () {
                                  //listenToMarksSelection();
                                  workbook = viz.getWorkbook();
                                  activeSheet = workbook.getActiveSheet();
                                  }
                              };
                              viz = new tableau.Viz(containerDiv, url, options);


                            }
                            function filterOnValue(diff){
                              activeSheet.getWorksheets().get("Diagnosis Difficulty").selectMarksAsync(
                                "Diagnosis Difficulty",
                                diff,
                                tableau.FilterUpdateType.REPLACE
                              );

                            }
                            function filterShift(Shift){
                              activeSheet.getWorksheets().get("Shift Average hours").selectMarksAsync(
                                "Shift Type",
                                Shift,
                                tableau.FilterUpdateType.REPLACE
                              );

                            }
                            function filterLabs(Labs){
                              activeSheet.getWorksheets().get("Abnormal Labs Average Hours").selectMarksAsync(
                                "Abnormal Labs",
                                Labs,
                                tableau.FilterUpdateType.REPLACE
                              );

                            }
                            function Reload(){
                              location.reload();
                              //activeSheet.getWorksheets().clearSelectedMarksAsync();
                              //activeSheet.getWorksheets().get("Shift Average hours").clearFilterAsync("Shift Type");
                              //activeSheet.getWorksheets().get("Diagnosis Difficulty").clearFilterAsync("Diagnosis Difficulty");

                            }

                            </script>



                         <body onload="initViz();" style="font: verdana;"></body>
                         <div id = "tableauViz"></div>
                         <br>
                         <strong>Filter Dashboard Data:</strong>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Filter Diagnosis Difficulty
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li onclick="filterOnValue(1);"><a href = "#">1-Easy</a></li>
                                        <li onclick="filterOnValue(2);"><a href = "#">2-Medium</a></li>
                                        <li onclick="filterOnValue(3);"><a href = "#">3-Difficult</a></li>
                                    </ul>
                                  </div>
                                    <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Filter Shift
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li onclick="filterShift('Night');"><a href = "#">Night</a></li>
                                        <li onclick="filterShift('Day');"><a href = "#">Day</a></li>
                                    </ul>
                                </div>

                                <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    Filter Abnormal Labs
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li onclick="filterLabs('Yes');"><a href = "#">Yes</a></li>
                                    <li onclick="filterLabs('No');"><a href = "#">No</a></li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-default btn-xs " onclick="Reload();">Reload Dashboard</button>
                         <br>
                         <br>
                         <p><strong>Clarvia Prediction:</strong> This Graphic shows the difference between Actual
                           Hours a patient required (as determined by RN Estimate Hours)
                           and Clarvia’s predicted hours. The average difference between
                            the actual hours and the Clarvia prediction was about .75, which equates
                            to about 45 minutes difference on average, meaning on average
                            Clarvia is overestimating by about 45 minutes. </p>

                          <p><strong>Abnormal Labs Average Hours:</strong> We used the Abnormal Labs field to
                            strengthen our model. As you can see, the average estimated hours increased
                            when the labs were abnormal.</p>

                          <p><strong>Shift Average Hours:</strong> Night shifts seem to increase the average
                             time taken to finish as well. In the end we decides to remove the Shift
                             variable from our model because it added noise and lowered our r squared.</p>

                          <p><strong>Diagnosis Difficulty:</strong> Lastly, the difficulty of the diagnosis
                            increased the average number of nursing hours (as expected). One interesting
                            thing to note is that in the data set we were given, there was not much
                             difference between difficulty level 2 and difficulty level 3.</p>


                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Project Timeline
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge"><i class="fa fa-check"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">1. Project Approval</h4>
                                            </p>

                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                              The first step in our process was to brainstorm the possible projects we could perform.

                                              We then had to seek approval from our instructor to receive the data to analyze.

                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge warning"><i class="fa fa-edit"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">2. Data Preparation</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                            To prepare our data, we converted the fields <i>Abnormal Lab Hours</i> and <i>Nurse Shift</i> to binary fields. This
                                            made our data more simple and easier to analyze. The binary fields also yeilded better results in Azure ML Studio.
                                            </p>

                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge danger"><i class="fa fa-database"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">3. Data Understanding</h4>
                                        </div>
                                        <div class="timeline-body">
                                          <p>
                                            To better understand our data, we ran tests with many regression and classification algorithms in Azure ML Studio. We also
                                            worked in excel to determine the Skewness and kurtosis of our variables. We then created dashboards in Tableau to help us
                                            to better understand the Data we were working with.
                                          </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                  <div class="timeline-badge danger"><i class="fa fa-flask"></i>
                                  </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">4. Model Testing</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                              We Tested  many Regression and Classification models in Azure ML Studio.
                                              We used the Filter Based Feature Selection Tool in ML Studio to Initially shorten oour list of variables. We then tested taking
                                              variables out individually until we were satisfied we had done sufficient testing.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge info"><i class="fa fa-save"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">5. Model Evaluation</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>

                                              Upon comparing the rusults of our testing, we fount that The best Model we had
                                              was a Bayesian Linear Regression using the variables <i>Clarvia Hours</i>, <i>Abnormal Labs</i>, and <i>Diagnosis Difficulty</i>.
                                              This model yeilded an R^2 of .68 for prediciting <i>RN Estimated Hours</i>.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge success"><i class="fa fa-cloud-upload"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">6 . Deployment</h4>
                                        </div>
                                        <div class="timeline-body">
                                          <p>

                                              The last step of our project was to deploy our experiments and data analysis

                                              Azure ML Experiments. Our Azure ML Experiments were deployed to the Azure ML Gallery

                                              Tableau Stories and Dashboards. We also used a JavaScript API within our HTML to embed the Tableau dashboard within our web application.

                                              Web Hosting. We also used the Azure ML Studio Api to return a Prediction of RN Estimated hours.
                                          </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->

                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->



</%block>
