
<%inherit file="base.htm" />

<%block name="content">


        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Prediction Results</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                          <div class="container-fluid">



                                <h4  class="text-muted">We predict that this job will take</h4>


                              <h1 style="color: red; font-weight: bold;">${hours} hours and ${minutes} minutes</h1>
                              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                              <br><br><br><br><br><br><br><br><br>
                          </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

  </%block>
